@(myForm: Form[views.forms.LoginRequest])
@import helper._
@import helpers.Constants._

@main {
  <div class="jumbotron">
    <h1>Welcome to the<br />Georgia Tech Scheduling System</h1>
    <p>Please login to begin.</p>
		@if(myForm.hasGlobalErrors()) {
			<div class="alert alert-danger" role="alert">
				@myForm.globalError().message()
			</div>
		}
		@helper.form(action = routes.Application.authenticate()) {
	
	        <fieldset>
				<div class="form-group">
		            @inputText(myForm("id"),
		                        '_label -> "User ID",
		                        'class -> "form-control",
		                        '_help -> "Please enter your id.")
	            </div>
	
				<div class="form-group">
	            	@inputPassword(myForm("password"),
	                            '_label -> "Password",
	                            'class -> "form-control",
	                            '_help -> PASSWORD_HELP)
	            </div>
	        </fieldset>
	        <div class="form-group">
	            <input type="submit" class="btn btn-primary" value="Login">
	        </div>
		}
  </div>
}