@(courseSemesterOptions: List[CourseSemester],
fullSchedule: Map[Semester, Set[Course]],
demand: Map[Course,Float])
@import helper._

@main {
	<script type="text/javascript">
		$( document ).ready(function() {
			var col, el;
			
			$("input[type=radio]").click(function() {
			   el = $(this);
			   col = el.data("col");
			   $("input[data-col=" + col + "]").prop("checked", false);
			   el.prop("checked", true);
			});
		});
	</script>
	<div class="panel panel-default">
	  <div class="panel-body">
		@if(flash.containsKey("error")) {
			<div class="alert alert-danger" role="alert">
				@flash.get("error")
			</div>
		}
		<br />


	        <fieldset>
	           <legend><h1>Assigned Courses for Semester @session.get("semester") </h1></legend>
	           	<table class="table table-bordered">
	           		<tr>
		           		<th>Course</th>
		           		<th>Current Demand Percent</th>
	           		</tr>
				@for((courseSemester, index) <- courseSemesterOptions.zipWithIndex) {

				   		@if(courseSemester.get_semester().getId().toString() == session.get("semester")) {
							<tr>
								<td>@courseSemester.get_course().getCourseName()</td>
								<td>@demand.get(courseSemester.get_course()) %</td>
							</tr>
						}
				   }
				</table>
				
				<legend><h1>All Assigned Courses </h1></legend>
	           	<table class="table table-bordered">

				   @for((semester, courses) <- fullSchedule) {
							<tr>
								<td><strong>@semester.getSemesterName()</strong></td>
							</tr>
							@for(course <- courses) {
								<tr>
									<td>@course.getCourseName()</td>
								</tr>
							}
				   }
				</table>
	        </fieldset>

	  </div>
	</div>
}