@(courseSemesterOptions: List[CourseSemester],
fullSchedule: Map[Semester, List[Course]])
@import helper._

@main {
	<script type="text/javascript">
		$( document ).ready(function() {
			var col, el;
			
			$("input[type=radio]").click(function() {
			   el = $(this);
			   col = el.data("col");
			   $("input[data-col=" + col + "]").prop("checked", false);
			   el.prop("checked", true);
			});
		});
	</script>
	<div class="panel panel-default">
	  <div class="panel-body">
		@if(flash.containsKey("error")) {
			<div class="alert alert-danger" role="alert">
				@flash.get("error")
			</div>
		}
		<br />


	        <fieldset>
	           <legend><h1>Assigned Courses for Semester @session.get("semester") </h1></legend>
	           	<table class="table table-bordered">
	           		<tr>
		           		<th>Course</th>
	           		</tr>
				@for((courseSemester, index) <- courseSemesterOptions.zipWithIndex) {

				   		@if(courseSemester.get_semester().getId().toString() == session.get("semester")) {
							<tr>
								<td>@courseSemester.get_course().getCourseName()</td>
							</tr>
						}
				   }
				</table>
				
				<legend><h1>All Assigned Courses </h1></legend>
	           	<table class="table table-bordered">
	           		<tr>
		           		<th>Course</th>
	           		</tr>

				   @for((semester, courses) <- fullSchedule) {
							<tr>
								<td>@semester.getSemesterName()</td>
							</tr>
							@for((course, index) <- courses.zipWithIndex) {
								<tr>
									<td>@course.getCourseName()</td>
								</tr>
							}
				   }
				</table>
	        </fieldset>
	
	        <div class="form-group">
	            <input type="submit" class="btn btn-primary" value="Submit Request">
	            <a href="@routes.Application.showStudentForm" class="btn">Cancel</a>
	        </div>

	  </div>
	</div>
}