@(myForm: Form[views.forms.StudentRequest],
courseCountOptions: List[String],
semesterCourses: List[String],
courseService: services.CourseService)
@import helper._

@main {
	<script type="text/javascript">
		$( document ).ready(function() {
			var col, el;
			
			$("input[type=radio]").click(function() {
			   el = $(this);
			   col = el.data("col");
			   $("input[data-col=" + col + "]").prop("checked", false);
			   el.prop("checked", true);
			});
		});
	</script>
	<div class="panel panel-default">
	  <div class="panel-body">
		@if(flash.containsKey("error")) {
			<div class="alert alert-danger" role="alert">
				@flash.get("error")
			</div>
		}
		<br />
		@if(myForm.hasGlobalErrors()) {
			<div class="alert alert-danger" role="alert">
				@myForm.globalError().message()
			</div>
		}
		@helper.form(action = routes.Application.processStudentForm()) {

	        <fieldset>
	           <legend><h1>Request Semester Courses</h1></legend>
				<div class="form-group">
					 @select(
					     myForm("desiredCoursesCount"),
					     options = options(courseCountOptions),
					     '_label -> "Number of Classes You Wish To Take This Semester",
					     '_help -> "Please select the number of courses you wish to take for the semester.",
					     '_showConstraints -> false
					 )
	            </div>
	           	<table class="table table-bordered">
	           		<tr>
		           		<th>Course</th>
		           		@for(priority <- 1 to semesterCourses.length) {
		           		<th>@priority</th>
		           		}
	           		</tr>

				   @for((course, index) <- semesterCourses.zipWithIndex) {
						<tr>
							<td>@courseService.getById(Integer.parseInt(course)).getCourseName()</td>
						    @for(priority <- 1 to semesterCourses.length) {
						    	<td><input type="radio" name="prioritiesForCoursesForSemester[@index]" data-col="@priority" value="@course"></td>
						    }
						</tr>
				   }
				</table>
	        </fieldset>
	
	        <div class="form-group">
	            <input type="submit" class="btn btn-primary" value="Submit Request">
	            <a href="@routes.Application.showStudentForm" class="btn">Cancel</a>
	        </div>
		}
	  </div>
	</div>
}